<!-- Alerts Modal-->
<div class="modal fade" id="items-alerts">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Información</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-success" ng-repeat="alert in alerts.success">
          <strong><i class="fa fa-check"></i></strong> {{alert.message}}
        </div>
        <div class="alert alert-danger" ng-repeat="alert in alerts.error">
          <strong><i class="fa fa-exclamation-triangle"></i></strong> {{alert.message}}
        </div>
        <br>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div>
  <h3>Insumo | {{item.name}}</h3>
  <br />

  <div class="row">

    <form ng-submit="saveItem()" role="form" class="form-horizontal form-groups-bordered">

    <div class="col-md-12">
      <button ng-show="!editable && access.st_edit" ng-click="editable = !editable" type="button" class="btn btn-default btn-icon">Editar Usuario<i class="entypo-pencil"></i></button>
      <button ng-show="editable" type="submit" class="btn btn-primary btn-icon">Guardar Cambios<i class="entypo-floppy"></i></button>
      <button type="button" ng-show="access.st_delete" mwl-confirm confirm-button-type="danger" cancel-button-type="default" title="Confirmar" message="Seguro que deseas eliminar el insumo?" placement="left" confirm-text="Eliminar" cancel-text="Cancelar" on-confirm="deleteItem()" class="btn btn-danger pull-right btn-icon">Eliminar Insumo<i class="entypo-trash"></i></button>
      <br><br>
      <div class="panel panel-primary" data-collapsed="0">

        <div class="panel-heading">

          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
          </div>
        </div>

        <div class="panel-body" >

          <div class="form-groups-bordered">
            <div class="form-group">
              <label class="col-sm-3 control-label">Nombre</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="item.name" type="text" class="form-control" placeholder="Ej: Chaqueta Burton">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Identificador</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="item.inner_id" type="text" class="form-control" placeholder="Ej: ECC3003">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Tipo</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="item.type" class="form-control">
                  <option value="">Seleccione Tipo...</option>
                  <option>Chaqueta</option>
                  <option>Polar</option>
                  <option>Bota</option>
                  <option>Gorro</option>
                  <option>Protección</option>
                  <option>Otro</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Talla</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="item.size" style='text-transform:uppercase' type="text" class="form-control" placeholder="Ej: XL">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Comentarios</label>

              <div class="col-sm-5">
                <textarea class="form-control autogrow" ng-disabled="!editable" ng-model="item.comment" placeholder="Ingresa comentarios" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 48px;"></textarea>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </form>
  </div>
</div>
