<!-- Alerts Modal-->
<div class="modal fade" id="housing-alerts">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Información</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-success" ng-repeat="alert in alerts.success">
          <strong><i class="fa fa-check"></i></strong> {{alert.message}}
        </div>
        <div class="alert alert-danger" ng-repeat="alert in alerts.error">
          <strong><i class="fa fa-exclamation-triangle"></i></strong> {{alert.message}}
        </div>
        <br>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- New Resident Modal-->
<div class="modal fade" id="modal-new-resident">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Nuevo Residente</h4>
      </div>

      <div class="modal-body">
        <autocomplete ng-model="selectedResident" attr-placeholder="Ecribe un nombre..." data="newResidentsInfo" on-select="selectResident" click-activation="true" on-type="searchWorker"></autocomplete>
        <br><br><br>
      </div>

      <div class="modal-footer">
        <button type="button" ng-disabled="!isSelected" ng-click="addResident()" class="btn btn-green" data-dismiss="modal">Agregar Residente</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div ng-show="housing">
  <h3>Alojamiento | {{housing.name}}</h3>
  <br />

  <div class="row">

    <form ng-submit="saveHousing()" role="form" class="form-horizontal form-groups-bordered">

    <div class="col-md-12">

      <button ng-show="!editable && access.hs_edit" ng-click="editable = !editable" type="button" class="btn btn-default btn-icon">Editar Residencia<i class="entypo-pencil"></i></button>
      <button ng-show="editable" type="submit" class="btn btn-primary btn-icon">Guardar Cambios<i class="entypo-floppy"></i></button>
      <button type="button" ng-show="access.hs_delete" mwl-confirm confirm-button-type="danger" cancel-button-type="default" title="Confirmar" message="Seguro que deseas eliminar la residencia?" placement="left" confirm-text="Eliminar" cancel-text="Cancelar" on-confirm="deleteHousing()" class="btn btn-danger pull-right btn-icon">Eliminar Residencia<i class="entypo-trash"></i></button>

      <br><br>

      <div class="panel panel-primary" data-collapsed="0">

        <div class="panel-heading">

          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
          </div>
        </div>

        <div class="panel-body" >

          <div class="form-groups-bordered">
            <div class="form-group">
              <label class="col-sm-3 control-label">Nombre</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="housing.name" type="text" class="form-control" placeholder="Ej: Container Negro Farellones">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Dirección</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="housing.address" type="text" class="form-control" placeholder="Ej: Camino a Farellones 344">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Cantidad de piezas</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="housing.rooms" type="number" class="form-control" placeholder="Ej: 3">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Cantidad de camas</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="housing.beds" type="number" class="form-control" placeholder="Ej: 8">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Capacidad total</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="housing.capacity" type="number" class="form-control" placeholder="Ej: 12">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Género</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="housing.genre" class="form-control">
                  <option value="">Seleccione Género...</option>
                  <option>Masculino</option>
                	<option>Femenino</option>
                	<option>Mixto</option>
                </select>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </form>
  </div>


  <div>
    <h3>Residentes</h3>
    <br>

    <button type="button" ng-show="access.hs_house" ng-click="newResidentOpen()" ng-disabled="!hasCapacity" class="btn btn-green btn-icon">Agregar Residente<i class="entypo-user-add"></i></button>
    <br><br>

    <div class="row">
      <div class="col-md-12">
        <table datatable="ng" class="row-border hover">
      <thead>
      <tr>
          <th>Nombre</th>
          <th>Nacionalidad</th>
          <th>Area</th>
          <th>Puesto</th>
          <th>Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="worker in housing.people" class="pointer">
          <td ng-click="viewWorker($index)">{{worker.first_name}} {{worker.last_name1}} {{worker.last_name2}}</td>
          <td ng-click="viewWorker($index)">{{worker.country}}</td>
          <td ng-click="viewWorker($index)">{{worker.job.area}}</td>
          <td ng-click="viewWorker($index)">{{worker.job.position}}</td>
          <td><button ng-disabled="!access.hs_unhouse" type="button" mwl-confirm confirm-button-type="danger" cancel-button-type="default" title="Confirmar" message="Seguro que deseas eliminar a este trabajador de la residencia?" placement="left" confirm-text="Eliminar" cancel-text="Cancelar" on-confirm="removeResident($index)" class="btn btn-danger"><i class="entypo-cancel"></i></button></td>
      </tr>
      </tbody>
  </table>
      </div>
    </div>
  </div>
</div>

<div ng-show="!housing">
  <div class="row">
    <div class="col-md-12">
      <h3>La residencia que buscas no existe!</h3>
      <br>
      <a href="#/housing"><button type="button" class="btn btn-default btn-icon">Volver<i class="entypo-reply"></i></button></a>
    </div>
  </div>
</div>
