<!-- Alerts Modal-->
<div class="modal fade" id="worker-alerts">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Información</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-success" ng-repeat="alert in alerts.success">
          <strong><i class="fa fa-check"></i></strong> {{alert.message}}
        </div>
        <div class="alert alert-danger" ng-repeat="alert in alerts.error">
          <strong><i class="fa fa-exclamation-triangle"></i></strong> {{alert.message}}
        </div>
        <br>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div ng-show="worker">
  <h3>Perfil de {{worker.first_name}}  {{worker.last_name1}}  {{worker.last_name2}}</h3>
  <br />

  <div class="row">

    <form ng-submit="saveWorker()" role="form" name="workerEdit" class="form-horizontal form-groups-bordered">

    <div class="col-md-12">

      <button ng-show="!editable && access.hr_edit" ng-click="editable = !editable" type="button" class="btn btn-default btn-icon">Editar Trabajador<i class="entypo-pencil"></i></button>
      <button ng-show="editable" type="submit" class="btn btn-primary btn-icon">Guardar Cambios<i class="entypo-floppy"></i></button>
      <button type="button" ng-show="access.hr_delete" mwl-confirm confirm-button-type="danger" cancel-button-type="default" title="Confirmar" message="Seguro que deseas eliminar al trabajador?" placement="left" confirm-text="Eliminar" cancel-text="Cancelar" on-confirm="deleteWorker()" class="btn btn-danger pull-right btn-icon">Eliminar Trabajador<i class="entypo-trash"></i></button>
      <br><br>

      <div class="panel panel-primary panel-collapse" data-collapsed="0">

        <div class="panel-heading">
          <div class="panel-title">
            Información Personal
          </div>

          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
          </div>
        </div>

        <div class="panel-body" style="display: none;" >

          <div class="form-groups-bordered">
            <div class="form-group">
              <label class="col-sm-3 control-label">Nombres</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.first_name" type="text" class="form-control" placeholder="Ej: Juan Andrés">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Apellido Paterno</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.last_name1" type="text" class="form-control" placeholder="Ej: Pérez">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Apellido Materno</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.last_name2" type="text" class="form-control" placeholder="Ej: Rodríguez">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">R.U.T / Pasaporte</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.rut" type="text" class="form-control" placeholder="Ej: 12.345.678-9">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Nacionalidad</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="worker.country" class="form-control">
                  <option value="">Seleccione País...</option>
                  <option>Afghanistan</option>
                	<option>Åland Islands</option>
                	<option>Albania</option>
                	<option>Algeria</option>
                	<option>American Samoa</option>
                	<option>Andorra</option>
                	<option>Angola</option>
                	<option>Anguilla</option>
                	<option>Antarctica</option>
                	<option>Antigua and Barbuda</option>
                	<option>Argentina</option>
                	<option>Armenia</option>
                	<option>Aruba</option>
                	<option>Australia</option>
                	<option>Austria</option>
                	<option>Azerbaijan</option>
                	<option>Bahamas</option>
                	<option>Bahrain</option>
                	<option>Bangladesh</option>
                	<option>Barbados</option>
                	<option>Belarus</option>
                	<option>Belgium</option>
                	<option>Belize</option>
                	<option>Benin</option>
                	<option>Bermuda</option>
                	<option>Bhutan</option>
                	<option>Bolivia, Plurinational State of</option>
                	<option>Bonaire, Sint Eustatius and Saba</option>
                	<option>Bosnia and Herzegovina</option>
                	<option>Botswana</option>
                	<option>Bouvet Island</option>
                	<option>Brazil</option>
                	<option>British Indian Ocean Territory</option>
                	<option>Brunei Darussalam</option>
                	<option>Bulgaria</option>
                	<option>Burkina Faso</option>
                	<option>Burundi</option>
                	<option>Cambodia</option>
                	<option>Cameroon</option>
                	<option>Canada</option>
                	<option>Cape Verde</option>
                	<option>Cayman Islands</option>
                	<option>Central African Republic</option>
                	<option>Chad</option>
                	<option>Chile</option>
                	<option>China</option>
                	<option>Christmas Island</option>
                	<option>Cocos (Keeling) Islands</option>
                	<option>Colombia</option>
                	<option>Comoros</option>
                	<option>Congo</option>
                	<option>Congo, the Democratic Republic of the</option>
                	<option>Cook Islands</option>
                	<option>Costa Rica</option>
                	<option>Côte d'Ivoire</option>
                	<option>Croatia</option>
                	<option>Cuba</option>
                	<option>Curaçao</option>
                	<option>Cyprus</option>
                	<option>Czech Republic</option>
                	<option>Denmark</option>
                	<option>Djibouti</option>
                	<option>Dominica</option>
                	<option>Dominican Republic</option>
                	<option>Ecuador</option>
                	<option>Egypt</option>
                	<option>El Salvador</option>
                	<option>Equatorial Guinea</option>
                	<option>Eritrea</option>
                	<option>Estonia</option>
                	<option>Ethiopia</option>
                	<option>Falkland Islands (Malvinas)</option>
                	<option>Faroe Islands</option>
                	<option>Fiji</option>
                	<option>Finland</option>
                	<option>France</option>
                	<option>French Guiana</option>
                	<option>French Polynesia</option>
                	<option>French Southern Territories</option>
                	<option>Gabon</option>
                	<option>Gambia</option>
                	<option>Georgia</option>
                	<option>Germany</option>
                	<option>Ghana</option>
                	<option>Gibraltar</option>
                	<option>Greece</option>
                	<option>Greenland</option>
                	<option>Grenada</option>
                	<option>Guadeloupe</option>
                	<option>Guam</option>
                	<option>Guatemala</option>
                	<option>Guernsey</option>
                	<option>Guinea</option>
                	<option>Guinea-Bissau</option>
                	<option>Guyana</option>
                	<option>Haiti</option>
                	<option>Heard Island and McDonald Islands</option>
                	<option>Holy See (Vatican City State)</option>
                	<option>Honduras</option>
                	<option>Hong Kong</option>
                	<option>Hungary</option>
                	<option>Iceland</option>
                	<option>India</option>
                	<option>Indonesia</option>
                	<option>Iran, Islamic Republic of</option>
                	<option>Iraq</option>
                	<option>Ireland</option>
                	<option>Isle of Man</option>
                	<option>Israel</option>
                	<option>Italy</option>
                	<option>Jamaica</option>
                	<option>Japan</option>
                	<option>Jersey</option>
                	<option>Jordan</option>
                	<option>Kazakhstan</option>
                	<option>Kenya</option>
                	<option>Kiribati</option>
                	<option>Korea, Democratic People's Republic of</option>
                	<option>Korea, Republic of</option>
                	<option>Kuwait</option>
                	<option>Kyrgyzstan</option>
                	<option>Lao People's Democratic Republic</option>
                	<option>Latvia</option>
                	<option>Lebanon</option>
                	<option>Lesotho</option>
                	<option>Liberia</option>
                	<option>Libya</option>
                	<option>Liechtenstein</option>
                	<option>Lithuania</option>
                	<option>Luxembourg</option>
                	<option>Macao</option>
                	<option>Macedonia, the former Yugoslav Republic of</option>
                	<option>Madagascar</option>
                	<option>Malawi</option>
                	<option>Malaysia</option>
                	<option>Maldives</option>
                	<option>Mali</option>
                	<option>Malta</option>
                	<option>Marshall Islands</option>
                	<option>Martinique</option>
                	<option>Mauritania</option>
                	<option>Mauritius</option>
                	<option>Mayotte</option>
                	<option>Mexico</option>
                	<option>Micronesia, Federated States of</option>
                	<option>Moldova, Republic of</option>
                	<option>Monaco</option>
                	<option>Mongolia</option>
                	<option>Montenegro</option>
                	<option>Montserrat</option>
                	<option>Morocco</option>
                	<option>Mozambique</option>
                	<option>Myanmar</option>
                	<option>Namibia</option>
                	<option>Nauru</option>
                	<option>Nepal</option>
                	<option>Netherlands</option>
                	<option>New Caledonia</option>
                	<option>New Zealand</option>
                	<option>Nicaragua</option>
                	<option>Niger</option>
                	<option>Nigeria</option>
                	<option>Niue</option>
                	<option>Norfolk Island</option>
                	<option>Northern Mariana Islands</option>
                	<option>Norway</option>
                	<option>Oman</option>
                	<option>Pakistan</option>
                	<option>Palau</option>
                	<option>Palestinian Territory, Occupied</option>
                	<option>Panama</option>
                	<option>Papua New Guinea</option>
                	<option>Paraguay</option>
                	<option>Peru</option>
                	<option>Philippines</option>
                	<option>Pitcairn</option>
                	<option>Poland</option>
                	<option>Portugal</option>
                	<option>Puerto Rico</option>
                	<option>Qatar</option>
                	<option>Réunion</option>
                	<option>Romania</option>
                	<option>Russian Federation</option>
                	<option>Rwanda</option>
                	<option>Saint Barthélemy</option>
                	<option>Saint Helena, Ascension and Tristan da Cunha</option>
                	<option>Saint Kitts and Nevis</option>
                	<option>Saint Lucia</option>
                	<option>Saint Martin (French part)</option>
                	<option>Saint Pierre and Miquelon</option>
                	<option>Saint Vincent and the Grenadines</option>
                	<option>Samoa</option>
                	<option>San Marino</option>
                	<option>Sao Tome and Principe</option>
                	<option>Saudi Arabia</option>
                	<option>Senegal</option>
                	<option>Serbia</option>
                	<option>Seychelles</option>
                	<option>Sierra Leone</option>
                	<option>Singapore</option>
                	<option>Sint Maarten (Dutch part)</option>
                	<option>Slovakia</option>
                	<option>Slovenia</option>
                	<option>Solomon Islands</option>
                	<option>Somalia</option>
                	<option>South Africa</option>
                	<option>South Georgia and the South Sandwich Islands</option>
                	<option>South Sudan</option>
                	<option>Spain</option>
                	<option>Sri Lanka</option>
                	<option>Sudan</option>
                	<option>Suriname</option>
                	<option>Svalbard and Jan Mayen</option>
                	<option>Swaziland</option>
                	<option>Sweden</option>
                	<option>Switzerland</option>
                	<option>Syrian Arab Republic</option>
                	<option>Taiwan, Province of China</option>
                	<option>Tajikistan</option>
                	<option>Tanzania, United Republic of</option>
                	<option>Thailand</option>
                	<option>Timor-Leste</option>
                	<option>Togo</option>
                	<option>Tokelau</option>
                	<option>Tonga</option>
                	<option>Trinidad and Tobago</option>
                	<option>Tunisia</option>
                	<option>Turkey</option>
                	<option>Turkmenistan</option>
                	<option>Turks and Caicos Islands</option>
                	<option>Tuvalu</option>
                	<option>Uganda</option>
                	<option>Ukraine</option>
                	<option>United Arab Emirates</option>
                	<option>United Kingdom</option>
                	<option>United States</option>
                	<option>United States Minor Outlying Islands</option>
                	<option>Uruguay</option>
                	<option>Uzbekistan</option>
                	<option>Vanuatu</option>
                	<option>Venezuela, Bolivarian Republic of</option>
                	<option>Viet Nam</option>
                	<option>Virgin Islands, British</option>
                	<option>Virgin Islands, U.S.</option>
                	<option>Wallis and Futuna</option>
                	<option>Western Sahara</option>
                	<option>Yemen</option>
                	<option>Zambia</option>
                	<option>Zimbabwe</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Fecha de Nacimiento</label>

              <div class="col-sm-3">
                <div class="input-group">
                  <input required ng-model="worker.birth_date" type="text" class="form-control" placeholder="dd/mm/aaaa">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="col-md-12">

      <div class="panel panel-primary panel-collapse" data-collapsed="0">

        <div class="panel-heading">
          <div class="panel-title">
            Datos de Contacto
          </div>

          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
          </div>
        </div>

        <div class="panel-body" style="display: none;">

          <div class="form-groups-bordered">
            <div class="form-group">
              <label class="col-sm-3 control-label">Teléfono</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.phone_number" type="text" class="form-control" placeholder="Ej: +5691823948">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">E-mail</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.email" type="email" class="form-control" placeholder="Ej: pabloramirez@gmail.com">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Dirección</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.address" type="text" class="form-control" placeholder="Ej: Av. Vergara 442">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Contacto de Emergencia</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.emergency_contact.name" type="text" class="form-control" placeholder="Ej: Amelia Jiménez">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Teléfono de Emergencia</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.emergency_contact.phone_number" type="text" class="form-control" placeholder="Ej: +5691419827">
              </div>
            </div>
          </div>

        </div>

      </div>



    </div>

    <div class="col-md-12">

      <div class="panel panel-primary panel-collapse" data-collapsed="0">

        <div class="panel-heading">
          <div class="panel-title">
            Pago y Cotizaciones
          </div>

          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
          </div>
        </div>

        <div class="panel-body" style="display: none;">

          <div class="form-groups-bordered">
            <div class="form-group">
              <label class="col-sm-3 control-label">Tipo de Contrato</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.job.contract" type="text" class="form-control" placeholder="Ej: Plazo fijo">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Plan de Salud</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.health_plan" type="text" class="form-control" placeholder="Ej: Fonasa">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Cotizaciones</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.contributions" type="text" class="form-control" placeholder="Ej: AFP Habitat">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Nro. de Cuenta</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.payment.account_number" type="text" class="form-control" placeholder="Ej: 1239891283">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Tipo de Cuenta</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="worker.payment.account_type" class="form-control">
                  <option value="">Seleccione Tipo...</option>
                  <option>Cuenta Vista</option>
                  <option>Cuenta Corriente</option>
                  <option>Cuenta Ahorro</option>
                  <option>Cuenta Dólares</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Banco</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="worker.payment.bank" class="form-control">
                  <option value="">Seleccione Banco...</option>
                	<option>ABN AMRO BANK</option>
                	<option>BANCO BBVA</option>
                	<option>BANCO BICE</option>
                	<option>BANCO CENTRAL</option>
                	<option>BANCO CONOSUR</option>
                	<option>BANCO DE CHILE</option>
                	<option>BANCO DEL DESARROLLO</option>
                	<option>BANCO DO BRASIL S.A.</option>
                	<option>BANCO ESTADO</option>
                	<option>BANCO FALABELLA</option>
                	<option>BANCO INTERNACIONAL</option>
                	<option>BANCO ITA&#218; CHILE</option>
                	<option>BANCO MONEX</option>
                	<option>BANCO PARIS</option>
                	<option>BANCO PENTA</option>
                	<option>BANCO RIPLEY</option>
                	<option>BANCO SECURITY</option>
                	<option>BCI</option>
                	<option>CITIBANK N.A.</option>
                	<option>CORPBANCA</option>
                	<option>DE LA NAC. ARGENTINA</option>
                	<option>DEUTSCHE BANK</option>
                	<option>HSBC BANK</option>
                	<option>JP MORGAN CHASE BANK</option>
                	<option>RABOBANK CHILE</option>
                	<option>SANTANDER-CHILE</option>
                	<option>SCOTIABANK</option>
                </select>
              </div>
            </div>
          </div>

        </div>

      </div>



    </div>

    <div class="col-md-12">

      <div class="panel panel-primary panel-collapse" data-collapsed="0">

        <div class="panel-heading">
          <div class="panel-title">
            Información Interna
          </div>

          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
          </div>
        </div>

        <div class="panel-body" style="display: none;">

          <div class="form-groups-bordered">
            <div class="form-group">
              <label class="col-sm-3 control-label">Alojamiento</label>

              <div class="col-sm-5 pointer" ng-click="viewHousing()">
                <input disabled ng-model="worker.housing.name" type="text" class="form-control pointer">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Plan de Alimentación</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="worker.feeding" class="form-control">
                  <option value="">Seleccione Plan...</option>
                  <option ng-repeat="feeding in feedings" value="{{feeding._id}}">{{feeding.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Talla Chaqueta</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="worker.clothing_sizes.jacket" class="form-control">
                  <option value="">Seleccione Talla...</option>
                  <option>XS</option>
                  <option>S</option>
                  <option>M</option>
                  <option>L</option>
                  <option>XL</option>
                  <option>XXL</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Talla Pantalón</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="worker.clothing_sizes.pants" class="form-control">
                  <option value="">Seleccione Talla...</option>
                  <option>XS</option>
                  <option>S</option>
                  <option>M</option>
                  <option>L</option>
                  <option>XL</option>
                  <option>XXL</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Talla Zapato</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.clothing_sizes.shoes" type="Text" class="form-control" placeholder="Ej: 43">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Lugar de Trabajo</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="worker.job.place" class="form-control">
                  <option value="">Seleccione Lugar...</option>
                  <option>Omnium</option>
                  <option>Parador</option>
                  <option>Farellones</option>
                  <option>Otro</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Área</label>

              <div class="col-sm-5">
                <select required ng-disabled="!editable" ng-model="worker.job.area" class="form-control">
                  <option value="">Seleccione Área...</option>
                  <option>Andariveles</option>
                  <option>Pistas</option>
                  <option>Actividades Non-Ski</option>
                  <option>Transporte</option>
                  <option>Cocina</option>
                  <option>Aseo</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Cargo</label>

              <div class="col-sm-5">
                <input required ng-disabled="!editable" ng-model="worker.job.position" type="text" class="form-control" placeholder="Ej: Operador">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>

  <div class="col-md-12">

    <div class="panel panel-primary panel-collapse" data-collapsed="0">

      <div class="panel-heading">
        <div class="panel-title">
          Prestamos
        </div>

        <div class="panel-options">
          <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
        </div>
      </div>

      <div class="panel-body" style="display: none;" >
        <div class="table-responsive">
          <table class="table table-row-border table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Identificador</th>
                <th>Talla</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="issue in worker.issues" class="pointer">
                <td>{{issue.item.name}}</td>
                <td>{{issue.item.inner_id}}</td>
                <td>{{issue.item.size}}</td>
                <td>{{idToDate(issue._id)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

<div ng-show="!worker">
  <div class="row">
    <div class="col-md-12">
      <h3>El trabajador que buscas no existe!</h3>
    </div>
  </div>
</div>
